@model VetClinic.Common.Entities.Owner

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">Изменение владельца</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="mb-3">
                            <label asp-for="SerialNumber" class="form-label"></label>
                            <input asp-for="SerialNumber" class="form-control" />
                            <span asp-validation-for="SerialNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Surname" class="form-label"></label>
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Patronymic" class="form-label"></label>
                            <input asp-for="Patronymic" class="form-control" />
                            <span asp-validation-for="Patronymic" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Sex" class="form-label"></label>
                            <input asp-for="Sex" class="form-control" />
                            <span asp-validation-for="Sex" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="DateOfBirth" class="form-label"></label>
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="DocumentData" class="form-label"></label>
                            <input asp-for="DocumentData" class="form-control" />
                            <span asp-validation-for="DocumentData" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Зарегестрировать</button>
                            <a asp-action="Index" class="btn btn-secondary ms-2">Вернуться к списку владельцев</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*<h4>Owner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sex" /> @Html.DisplayNameFor(model => model.Sex)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentData" class="control-label"></label>
                <input asp-for="DocumentData" class="form-control" />
                <span asp-validation-for="DocumentData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
